.userCard {
  display: flex;
  flex-direction: row;
  margin: 27px 20px 0 21px;

  .image {
    width: 424px;
    height: 286px;
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    margin-left: 62px;

    .title {
      font-size: 16px;
      font-weight: 600;
    }

    .text {
      padding-top: 10px;
      font-size: 14px;
    }

    .paddingLeft {
      padding-left: 5px;
    }

    .paddingTop {
      padding-top: 20px;
    }

    .colorText {
      color: #76787D;
    }

  }
}