.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #76787D;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}