.sidebar {
  display: flex;
  flex-direction: column;
  margin: 27px 20px 0 20px;
  border-right: 1px solid #E0E0E0;
  height: calc(100vh - 200px);

  .title {
    color: #333;
    font-size: 16px;
    font-weight: 600;
  }

  .search {
    width: 240px;
    padding: 16px 24px;
    margin-top: 14px;
    margin-right: 31px;
    margin-bottom: 29px;
    box-sizing: border-box;
    color: #76787D;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    border: 1.5px solid #E9ECEF;
    background: #FFF;
    cursor: pointer;
    outline: none;
  }
}